
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-image: url("https://images.unsplash.com/photo-1532581140115-3e355d1ed1de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    /* background-position: top 70% right 60%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.637);
    font-size: 3rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}